.form {
    /* width: 65%; */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto 10% auto;
    padding: 25px;
    /* border-radius: 5px; */
    background-color: #512781;
    color: white;
}

.send {
    background-color: black;
    color: white;
}

.btn {
    width: 50%;
}

input {
    height: calc(25px + 2.5vh);
    margin-bottom: 15px;
}

textarea {
    height: calc(50px + 12vh);
}

input, textarea {
    width: calc(100px + 50vw);
}

input.btn-dark {
    margin: 2% auto;
    font-size: 16pt;
}

h1 {
    padding-top: 5%;
    padding-bottom: 0;
    font-size: calc(22px + 5vh);
}

label {
    font-size: calc(16pt + 1vh);

}