.form {
    width: 500px;
    color: 'black';
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    padding: 25px;
    border-radius: 5px;
    background-color: #512781;
    color: white;
}

.send {
    background-color: black;
    color: white;
}

.btn {
    margin-left: 32.5%;
}