.container-container {
    background-color: #5d656f;
}

h2 {
    color: white;
    text-align: center;
}

.port-img {
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: black;
}

.example {
    border: 3px solid #222529;
}

.container {
    padding-bottom: 2%;
}