h2 {
    color: white;
    text-align: center;
}

.port-img {
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: black;
}

div {
    border: 2px solid white;
}

.container {
    padding-bottom: 2%;
}