.footer {
    width: 100%;
    background-color: #222529;
}

/* @media screen and (max-width: 500px) {
    .footer {
        width: 100%;
    } 
}

@media screen and (max-width: 480px) {
    .footer {
        width: 100%;
    } 
}

@media screen and (max-width: 440px) {
    .footer {
        width: 120%;
    } 
}

@media screen and (max-width: 430px) {
    .footer {
        width: 115%;
    } 
}

@media screen and (max-width: 414px) {
    .footer {
        width: 120%;
    } 
}

@media screen and (max-width: 400px) {
    .footer {
        width: 125%;
    } 
}

@media screen and (max-width: 395px) {
    .footer {
        width: 100%;
    } 
}

@media screen and (max-width: 393px) {
    .footer {
        width: 125%;
    } 
}

@media screen and (max-width: 390px) {
    .footer {
        width: 100%;
    } 
}

@media screen and (max-width: 375px) {
    .footer {
        width: 100%;
    } 
}


@media screen and (max-width: 360px) {
    .footer {
        width: 100%;
    } 
}

@media screen and (max-width: 335px) {
    .footer {
        width: 100%;
    } 
}


@media screen and (max-width: 280px) {
    .footer {
        width: 180%;
    } 
}

@media screen and (max-width: 260px) {
    .footer {
        width: 195%;
    } 
}

@media screen and (max-width: 240px) {
    .footer {
        width: 210%;
    } 
}

@media screen and (max-width: 215px) {
    .footer {
        width: 225%;
    } 
}

@media screen and (max-width: 195px) {
    .footer {
        width: 250%;
    } 
}

@media screen and (max-width: 175px) {
    .footer {
        width: 285%;
    } 
}

@media screen and (max-width: 145px) {
    .footer {
        width: 340%;
    } 
} */

/* @media screen and (max-width: 375px) {
    .footer {
        width: 135%;
    }
} */